<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audiobook Player</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="play-container">
    <button id="playButton">Play</button>
  </div>
  <div class="control-container">
    <button id="backwardButton">Backward</button>
    <button id="forwardButton">Forward</button>
  </div>
  <audio id="audioPlayer" controls hidden></audio>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>
